@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Mukta', sans-serif;
    --color-primary: #60ffcb;
    --color-secundary: #111111;
    --color-third: #018985;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: var(--font);
}

.container {
    width: 100%;
    height: 100vh;
}
/* Nav */
nav {
    background-color: #111111;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.4em;
    color: #Fff;
    transition: 300ms ease;
    max-height: 80px;
}

nav.no_visible {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    animation: animation_nav 1s normal;
}

nav .sections_menu {
    display: flex;
    gap: 3em; 
}

nav .sections_menu a{
    text-decoration: none;
    color:#fff;
    font-size: 1.3em;
    padding: 0.3em 0.5em;
    border-bottom: 2px solid #c6fcc7;
    transition: 300ms ease;
}

nav .sections_menu a:hover{
    background: rgba(0, 0, 0, .9)
}

nav img{
    width: 150px;
    overflow: hidden;
}   

nav .menu {
    margin-top: 0.5em;
}

img#menu_decoration {
    width: 50px;
    height: 30px;
}

/*header*/
header{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    height: 100vh;
}

header .product h3 {
    width: 90%;
    font-size: 3.2em;
    color: var(--color-primary)
}


header .product {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 1em;
    background: var(--color-secundary);
    color: #fff;
}

header .product .content_product{
    width: 80%;
    display: flex;
    flex-direction: column;
    
    gap: 1em;
    margin-bottom: 10em !important;
}   

header .product .content_product div{
    display: flex;
    gap: 1em
}

header .product .content_product a{
    width: 30%;
    color: #333;
    text-decoration: none;
    padding: 0.4em;
    outline: none;
    transition: 300ms linear; 
    text-align: center;
    cursor: pointer;
    background: rgb(23,57,29);
    background-image: radial-gradient(circle at -17.16% 55.88%, #c6fcc7 0, #b8f8c7 12.5%, #a5f1c4 25%, #8ce6bd 37.5%, #6cd8b4 50%, #44caac 62.5%, #00bfa9 75%, #00b7aa 87.5%, #00b3ae 100%);
}

header .product .content_product a:nth-child(2){
    background: transparent;
    border: 1px solid var(--color-third);
    color: #fff
}


header .product .content_product a:hover {
    opacity: 0.8;
    font-weight: bold;
}

header .product .content_product span {
    width: 70%;
}

header .product_photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Section action */
section.action {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 60%;
    margin: auto;
    gap: 2rem;
}

section.action .action_information{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    max-width: 50%;
}

section.action .action_information h3 {
    font-size: 2.3em;
    width: 90%;
}

section.action .action_information p {
    width: 93%;
}

section.action .action_information button{
    width: 30%;
    background: rgb(23,57,29);
    background-image: radial-gradient(circle at -17.16% 55.88%, #c6fcc7 0, #b8f8c7 12.5%, #a5f1c4 25%, #8ce6bd 37.5%, #6cd8b4 50%, #44caac 62.5%, #00bfa9 75%, #00b7aa 87.5%, #00b3ae 100%);
    padding: 1em;
    border: 1px solid black;
    outline: none;
    transition: 300ms ease;
    cursor: pointer;
}

section.action .action_information button:hover{
    opacity: .8;
}
section.action .action_image {
    width: 550px;
    height: 300px;
}
section.action .action_image img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 0.3em;
}


/* Main and Section Problem */
main,
section.solution_problem  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 100%;
    background: #dfdfdf;
}


section.solution_problem  {
    background: #fff;
    height: 85vh;
}

main .main_information h2,
main .main_information p,
section .section_information h2,
section .section_information p,
section .solution_information h2,
section .solution_information p{
    margin: auto;
    width: 80%;
    text-align: center;
}

section .section_information h2{
    width: 100%;
}

main .main_information p{
    width: 65%;
}

main .main_information h2,
section .section_information h2,
section .solution_information h2{
    font-size: 3em;
    color: var(--color-third);
}

main .main_information p,
section .section_information p,
section .solution_information p {
    font-size: 1.2em;
    color: #222222
}

main .main_important,
section.solution_problem .solution_important {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;

}

main .main_important .main_imagen {
    width: 60%;
    height: 100%;
    overflow: hidden;
}

main  .main_important .main_imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


section .solution_important .solution_image_card {
    width: 50%;
}

section .solution_important .solution_image_card img{
    width: 120%;
}

main .main_important_cards,
section.solution_problem .solution_important {
    width: 65%;
}

main .main_important_cards,
section .solution_important_cards{
    display: flex;
    flex-direction: column;
    gap: 3em;
}

main .main_important_cards .card,
section .solution_important_cards .card{
    padding: 1.5em;
    border-radius: 1em;
    background: #efefef;
}

main .main_important_cards .card h3,
section .solution_important_cards .card h3{
    color: var(--color-third);
}

main .main_important_cards .card ul,
section .solution_important_cards .card ul{
    margin-top: 1em;
}

main .main_important_cards .card ul li,
section .solution_important_cards .card ul li{
    margin-left: 1.3em;
}

section .solution_important_cards .card p{
    width: 85%;
}

main .main_important_cards .card button,
section .solution_important_cards .card button{
    padding: 0.5em;
    outline: none;
    border: 1.7px solid var(--color-third);
    margin-top: 1em;       
    cursor: pointer;
    transition: 500ms ease;
}

section .solution_important_cards  {
    width: 40%;
}

main .main_important_cards .card button:hover,
section .solution_important_cards .card button:hover{
    background: #018985;
    color: #fff
}

section .solution_important_cards .solution_important_cards-button{
    padding: 0.8em;
    width: 50%;
    outline: none;
    border: none;
    border-radius: 0.4em;
    background: #222222;
    color: #fff;
    cursor: pointer;
    transition: 500ms ease;
}

section .solution_important_cards .solution_important_cards-button{
    align-self: center;
}

main .main_important_cards .main_important_cards-button:hover,
section .solution_important_cards .solution_important_cards-button:hover{
    background: #111111;
}

/* Banner */
section.solution_banner {
    width: 100%;
    height: 450px;
    background-image: url(img/Solution_Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    color: #fff
}

section.solution_banner .cifres_banner  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    border-right: 1px solid #fff;
}
section.solution_banner .cifres_banner span{
    font-size: 7rem;
    height: 150px;
}

section.solution_banner .cifres_banner h3{
    font-size: 1.4em;
    margin-top: 1em;
}

section.solution_banner .cifres_banner p{
    text-align: center;
    width: 70%;
}
section.solution_banner .cifres_banner img{
    width: 50px;
    height: 50px;
}

section.solution_banner .porcentage {
    width: 40%;
    display: flex; 
    flex-direction: column;
    align-items: center;
}

section.solution_banner .porcentage h3{
    font-size: 1.4em;
}

section.solution_banner .porcentage p {
    text-align: center;
    width: 59%;
}
/* Banner porcentaje */
section.solution_banner .porcentage img{
    width: 30%;
}
/* Section orders*/

section.section_orders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5em;
    height: 80vh;
    align-items: center;
    background: #afafafaf;
}

section.section_orders .section_orders_cards{
    display: flex;
    gap: 5em;
}

section.section_orders .section_orders_cards .card {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1.5em;
    max-width: 400px;
    max-height: 450px;
    background: #efefefef;
}

section.section_orders .section_orders_cards .card h3{
    font-size: 2em;
    border-bottom: 1px solid var(--color-third);
}

section.section_orders .section_orders_cards .card h3.started {
    border-bottom: 2px solid #00b3ae;
}

section.section_orders .section_orders_cards .card div{
    display: flex;
    width: 100%;
    gap: 1em;
}
section.section_orders .section_orders_cards .card div p {
    width: 78%;
}

section.section_orders .section_orders_cards .card div img{
    width: 5%;
}

section.section_orders .section_orders_cards .card p.price{
    color: #333333
}
section.section_orders .section_orders_cards .card p span{
    font-size: 2em;
    color: #111111
}

section.section_orders .section_orders_cards .card button{
    padding: .8em;
    width: 70%;
    outline: none;
    background: #111111;
    color: #fff;
    box-shadow: 5px 7px 9px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: 400ms all ease;
    border: none;
}

section.section_orders .section_orders_cards .card button.btn-started{
    background: rgb(23,57,29);
    background-image: radial-gradient(circle at -17.16% 55.88%, #c6fcc7 0, #b8f8c7 12.5%, #a5f1c4 25%, #8fcdd3f2 37.5%, #6cd8b4 50%, #44caac 62.5%, #00bfa9 75%, #00b7aa 87.5%, #00b3ae 100%);
    color: #000;
    border: 1px solid var(--color-third);
}

section.section_orders .section_orders_cards .card button:hover{
    opacity: 0.8;
}


/*section team*/

section.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 85vh;
}

section.team .team_information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section.team .team_information h3{
    font-size: 2em;
    color: var(--color-third)
}

section.team .team_information p{
    font-size: 1.1em;
}

section.team .integrants{
    display: flex;
    gap: 3em; 
}

section.team .integrants .integrant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em
}

section.team .integrants .integrant div{
    text-align: center;
}

section.team .integrants .integrant div h4{
    font-size: 1.4em;
}


section.team .integrants .integrant div p{
    font-size: 1.2em;
    color: var(--color-third)
}

section.team .integrants .integrant div p:nth-child(3){
    color: #000;
    font-size: 1em;
}

section.team .integrants .integrant img {
    width: 50%;
    border-radius: 0.4em;
}

/* Action_2 */
section.action_2 {
    height: 40vh;
    background-image: url(img/Banner2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}

section.action_2 .banner2_information {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
}

section.action_2 .banner2_information h3{
    font-size: 2em;
    width: 50%;
    color: #fff
}   

section.action_2 .banner2_information button{
    padding: 1em 5rem;
    font-size: 1em;
    border: 2px solid var(--color-primary);
    outline: none;
    background: rgba(0, 0, 0, 0.3);
    color: #fff; 
    transition: 300ms ease;
    cursor: pointer;
}

section.action_2 .banner2_information button:hover{
    background: rgba(0, 0, 0, 0.4);
}

/* Footer */

footer {
    background: rgba(0, 0, 0, .8);
    height: 30vh;
}

footer .cap{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    margin: auto;
    height: 100%;
}

footer .footer_information_logo {
    display: flex;
    flex-direction: column;
    width: 50%;
    border-right: 1px solid #fff;
}

footer .footer_information_logo .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 120px;
}

footer .footer_information_logo .logo img {
    width: 30%;
}   

footer .footer_information_logo .social {
    display: flex;
    justify-content: center;
    gap: 1em;
}

footer .footer_information_logo .social img{
    width: 4%;
    cursor: pointer;
    transition: 300ms ease;
}

footer .footer_information_logo .social img:hover{
    transform: scale(1.1);
}

footer .paragraphs {
    display: flex;
    justify-content: center;
    width: 50%;
    gap: 6em
}

footer .paragraphs .paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;
    user-select: none;
}

footer .paragraphs .paragraph h3{
    color: var(--color-primary);
    font-weight: bold;
    font-size: 1.3em;
}


footer .paragraphs .paragraph a{
    text-decoration: none;
    color: #dfdfdf;
    transition: ease 300ms;
    padding-bottom: 0.3em;
}

footer .paragraphs .paragraph a:hover{
    color: #ccc;
}

/* Developer */
section.developer{
    text-align: center;
    padding: 1em;
    background: rgba(0, 0, 0, 0.7);
    font-size: 0.8em;
    color: #fff
}

/* Animtions */
@keyframes animation_nav {
    0%{
        transform: translateY(-100px)
    }

    100% {
        transform: translateY(0);
    }
}